
header{
    background-color: #fff;
    position: fixed;
    top: 60px;
    transform: translateX(-50%);
    left: 50%;
    width:  min(83rem, calc(100% - 2rem)); /* 85rem = 1360px; responsivo */
    justify-content: space-between;
    border-radius: 15px;
    z-index: 999;
    display: flex;
    padding: 10px 20px;
    align-items: center;
}


.logo img{
    height: 48px;
}

.nav-center ul{
    display: flex;
    gap: 2.5rem;
}

.nav-center  a,
.nav-right a{
    font-size: 1.25rem;
    color: #333333;
    &:hover{
        color: #7c3aed;
    }
}

.nav-right ul {
    display: flex;
    gap: 2.5rem;
}


.nav-right img{
    height: 20px;
    align-self: flex-end;
}
.nav-container ul li{
    margin: 0;
}   

.nav-right a:hover img{
    opacity: 0.7;
}

 .nav-container{
    display: flex;
    justify-content: space-around;
    width: ;
    
} 
.menu-toggle{
    display: none;
}

.menu-icon{
    display: none;
    width: 100%;
}

.menu-icon img{
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}

.menu-icon:hover img{
    opacity: 0.7;
}

@media(max-width:1200px){
        .menu-icon{
        width: 30px;
        height: 30px;
        display: block;
        cursor: pointer;
        z-index: 1001;
    }

    .nav-container{

        position: fixed;
        top: 0;
        right: -100%; 
         width: 200px;
        flex-direction: column;
        padding: 80px 20px 20px;
        background-color: #ffffff;
        gap: 1rem;
        transition: right 0.3s ease;
        border-radius: 15px;
}
    .nav-center,  .nav-right{
        width: 100%;
        text-align: center;
    }

    .nav-center ul li,  .nav-right ul li{
        width: 100%;
        text-align: center;
    }

    .nav-center ul, .nav-right ul{
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
        width: 100%;
        margin: 0;
    }
    .nav-center a, .nav-right a{
        width: 100%;
        border-bottom: 1px solid #eeeeee;
        padding: 0.3rem 0;
        font-size: 1rem;
        display: block;
    }

    .menu-toggle:checked ~ .nav-container{
        right: 0;
    }

}
