header{
    background-color: #fff;
    position: fixed;
    top: 60px;
    transform: translate(-50%);
    left: 50%;
    width: calc(70% - 100px);
    border-radius: 15px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img{
    height: 48px;
}

.nav-center ul{
    display: flex;
    gap: 2.5rem;
}

.nav-center  a,
.nav-right a{
    font-size: 1.25rem;
    color: #333333;
    &:hover{
        color: #7c3aed;
    }
}

.nav-right ul {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.nav-right img{
    height: 20px;
}

.nav-right a:hover img{
    opacity: 0.7;
}
