main{
    padding: 2.5rem 0 ;
    max-width: 1360px;
    margin: 0 auto;
}
@media(max-width:1280px){
    main{
        padding: 0.625rem;
    }
}
.hero-section {
    background: url('../images/hero.jpg') no-repeat center;
    background-size: cover;
    height: 500px;
    width: 100%;
    position: relative;
    border-radius: 20px;
}

.hero-overlay{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 7rem;
}
.hero-content {
    color: #fff;
    text-align: center;
    max-width: 360px;
}
.hero-content .hero-title {
    font-size: 1.75rem;
    margin: 10px 0 2.5rem;
    font-weight: 400;
    line-height: 36px;
}

.hero-content .hero-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
}
.hero-buttons {
    display: flex;
    gap: 1rem;
    
}

.btn{
    font-size: 1.25rem;
    width: 161px;
    height: 48px;
    border-radius: 25px;
    color: #fff;
    padding: 10px 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, border 0.3s;
    &:hover{
        background-color: #6329A2;
        color: #fff;
        border: #6329A2;
    }
}
.btn-outline {
    border: 2px solid #fff;
    background-color: transparent;
    
}

.btn-filled {
    color:#6329A2;
    background-color: #fff;
}
@media(max-width:768px){
    .hero-section{
        height: 660px;
        background-position: 28%;
        .hero-overlay{
            padding: 0;
            justify-content: center;
        }
        .hero-content{
            width: 330px;
            margin: 0 auto;
        }
        .hero-content .hero-title{
            font-size: 1.5rem;

        }
        .btn{
            font-size: 1.2rem;
        }
    }
}